.logo{
width: 40px;
height: 40px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    
    position: absolute;
    /* width: 1600px;
    height: 80px; */
    left: 0px;
    top: 0px;
    width: 100%;
    height: 8%;
    background: rgba(18, 24, 41, 0.8);
    backdrop-filter: blur(40px);
    }

.cards{
    padding: 8px 8px 16px;
    margin-bottom: 20px;
    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(80px);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    width: 266px;
}

.portada {
    margin-bottom: 28px;
    width: 260px;
    height: 400px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

}



h1{
    margin-top: 80px;
    color: #EBEEF5;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
}

/* .container {
    margin-top: 20px;
    margin-bottom: 40px;
    color: var(--grey300);
} */

.nav-item{
    text-decoration: none;
    list-style: none;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: inline-block;

    min-width: min-content;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;


    letter-spacing: 0.02em;
    color: #A8AEBF;
}

.nav-item:hover{
    background-color: #192a3f;
}


/* .img{
    width: 100%;
    border-radius: 12px;
}
 */

.cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translateY(-15px);
}

.botones{
    /* height: 30%;
    margin-top: 4%;
    margin-left: 6%;
    background-color: #192a3f;
    padding: 0.5%;
    margin-right: 75%;
    border-radius: 10px; */

    height: 56px;


/* Black/20 */

background: rgba(0, 0, 0, 0.2);
backdrop-filter: blur(80px);
}

.boton{
    background-color: #192a3f;
    border-color: #192a3f;
    color: #EBE9FE;
    border-radius: 6px;
    text-decoration: none;
}

.boton-activo{
    background-color: #7B6EF6;
    border-color: #192a3f;
    color: #EBE9FE;
    border-radius: 6px;
    text-decoration: none;
}

/* .navbar{
    background: rgba(18, 24, 41, 0.8);
    padding: 10px;
} */

h4{
    position: static;
width: 588px;
height: 24px;
left: 0px;
top: 96px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Grey/300 */

color: #8E95A9;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 16px 0px;
}

h3{
width: 148px;
height: 40px;

/* Heading/H3 */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
/* identical to box height, or 125% */


/* Grey/400 */

color: #767E94;
}

.buscador{
    
    padding: 12px 16px;
    
    background: rgba(0, 0, 0, 0.1);
    /* Grey/700 */
    
    border: 1px solid #323B54;
    border-radius: 12px;
    

}


