<header>
  <nav class="nav">
    <img class="logo" src="./assets/logo.png" alt="">
    <ul class="navbar">
      <li class="nav-item">Películas</li>
      <li class="nav-item">Series</li>
      <li class="nav-item">Ingresar <i class="fas fa-arrow-right"></i></li> 
    </ul>
  </nav>
</header>
<section>
  <div class="container">
    <h1>PelisUP!</h1>
    <h4>Plataforma para ver películas y series 😉</h4>
    <form class="d-flex mb-5 mt-5">
      <input class="form-control me-2 w-25 buscador" type="search" placeholder="Buscar películas y series" aria-label="Search">
      
    </form>
    
    <div class="botones p-3 d-flex align-items-center justify-content-center w-25 mb-3 ">
      <li class="boton-activo nav-item  px-3 py-1">Todos</li>
      <li class="boton nav-item">Películas</li>
      <li class="boton nav-item">Series</li>
    </div>
    
    <h3 class="d-block">Todos <small>(120)</small> </h3>
  </div>
  
</section>
<section class="portadas container">
  
  <div class="galeria d-flex justify-content-between flex-wrap">
    <div class="cards">
      <img class="portada" src="./assets/portadas/img1.png" alt="portada">
      <p>Black Widow</p>
    </div>
    <div class="cards">
      <img class="portada" src="./assets/portadas/img2.png" alt="portada">
      <p>Shang Chi</p>
    </div>
    <div class="cards">
      <img class="portada" src="./assets/portadas/img3.png" alt="portada">
      <p>Loki</p>
    </div>
    <div class="cards">
      <img class="portada" src="./assets/portadas/img4.png" alt="portada">
      <p>How I Met Your Mother</p>
    </div>
    <div class="cards">
      <img class="portada" src="./assets/portadas/img5.png" alt="portada">
      <p>Money Heist</p>
    </div>
    <div class="cards">
      <img class="portada" src="./assets/portadas/img6.png" alt="portada">
      <p>Friends</p>
    </div>
    <div class="cards">
      <img class="portada" src="./assets/portadas/img7.png" alt="portada">
      <p>The Big Bang Theory</p>
    </div>
    <div class="cards">
      <img class="portada" src="./assets/portadas/img8.png" alt="portada">
      <p>Two And A Half Men</p>
    </div>
  </div> 
</section>
