/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    min-height: 800px;
    /* background: #141e30;
    background: -webkit-linear-gradient(to right, #243b55, #141e30);
    background: linear-gradient(to right, #243b55, #141e30); */
    background: #141e30;
    background: linear-gradient(90deg, #141e30 0%, #243b55 35%, #141e30 100%);
    color: #ebeef5;
}
